.container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
.name{
    display: block;
    text-align: center;
    font-weight : bold;
}
.photo{
    width: 180px;
    height: 180px;
    float: left;
    margin: 1rem;
    background-image: url('/assets/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}