.container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    --justify-content: center;
    --justify-content: space-around;
    align-items: center;
}
.menu-item{
    text-align:center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    background-color: chartreuse;
    margin: 0 0  0 5px;
}
.menu-item:hover{
    color: red;
}
