.grid{
    display: grid;
    --grid-gap: 5px;/*Не катит т.к. появляется скроллинг*/
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
        'lg lg lg lg mn mn mn mn mn mn'
        'cl cl cc cc cc cc cc cc cc cc'
        '.  ft ft ft ft ft ft ft ft .'
    ;
}
.grid-item{
    position: relative;
}

.logo{
    grid-area: lg;
    height: 10vh;
    background-color: green;
}
.menu{
    grid-area: mn;
    height: 10vh;
    background-color: yellow;
}
.col-left{
    grid-area: cl;
    height: 80vh;
    background-color: antiquewhite;
}
.col-content{
    height: 80vh;
    grid-area: cc;
    background-color: aqua;
}
.footer{
    height: 5vh;
    grid-area: ft;
    background-color: burlywood;
}

